<form class="" action="/new" method="post">
  <div>
    <label for="name">Recipe Name</label>
    <input name="name">
  </div>
  <div>
    <label for="description">Recipe Description</label>
    <input name="description">
  </div>
  <div>
    <label for="prep_time">How long does it takes?</label>
    <input name="prep_time">
  </div>

  <div>
    <button>Add Recipe</button>
  </div>
</form>